<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}default title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meteorite/styles.css' %}">
    <!-- the past style are moved into style.css -->
    {% block extra_head %}{% endblock %}

</head>
<body>
    <header>
        <h1>Welcome to the Meteorite Adoption Platform</h1>
    </header>
    <nav>
        <a href="{% url 'meteorite:homepage' %}">Homepage</a>
        <a href="{% url 'meteorite:meteorite_list' %}">List of meteorites</a>
        <a href="#">User Registration</a>
        <a href="#">Contact Us</a>
    </nav>
    <div class="main">
        <div class="content">
            {% block content %}
                <p>default content</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>