{% extends 'meteorite/main.html' %}
{% block title %}My Orders{% endblock %}
{% block content %}
<h1>My Orders</h1>

{% if orders %}
    {% for order in orders %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            <h2>Order ID: {{ order.id }} | Date: {{ order.date|date:"Y-m-d H:i" }} | Total: £{{ order.price }}</h2>
            <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.meteorite.name }} - £{{ item.price }}
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'order:order_detail' order.id %}">Detail Information</a>
        </div>
    {% endfor %}
{% else %}
    <p>You have no orders yet.</p>
{% endif %}
{% endblock %}
