{% extends 'meteorite/main.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <div style="padding:5px;">
        <h2>Welcome, {{ user.username }}!</h2>
        <p><strong>Email:</strong></p>
        <p>{{ user.email }}</p>
        <p><strong>Registered at:</strong></p>
        <p>{{ user.reg_time }}</p>

        <a href="{% url 'user:logout' %}"><button>Logout</button></a>
    </div>
    <div style="padding:20px;">
        <a href="{% url 'order:my_orders' %}">See All Your Orders</a>
    </div>
{% endblock %}
